@import "layout/var";

.form-section {
  &--green {
    background: $green;

    .form-section__button:hover {
      color: $green;
    }
  }

  &:not(.form-section--green) {
    .form-section__circle:nth-child(4) {
      @media (max-width: $xs) {
        right: auto;
        left: 15px;
        bottom: -45px;
      }
    }
  }

  &__flex {
    padding: 50px 127px 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $lg) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: $md) {
      padding: 30px;
    }

    @media (max-width: $xs) {
      padding: 15px;
      flex-direction: column;
    }

    &--aqua {
      background: #0BB1BC;
      border-radius: 28px;

      .form-section__button:hover {
        color: #0BB1BC;
      }
    }
  }

  &__content {
    color: white;
    width: 46%;

    @media (max-width: $md) {
      width: 60%;
    }

    @media (max-width: $sm) {
      width: 50%;
    }

    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;

    @media (max-width: $sm) {
      font-size: 22px;
      line-height: 30px;
    }

    @media (max-width: $xs) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;

    @media (max-width: $sm) {
      font-size: 14px;

      br {
        display: none;
      }
    }

    @media (max-width: $xs) {
      margin-top: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media (max-width: $xs) {
      margin-top: 20px;
      width: 100%;
    }
  }

  &__inputs {
    display: flex;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__input {
    width: 264px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid transparent;
    background: white;
    margin-left: 10px;
    padding: 14px 16px;
    font-size: 14px;
    transition: 0.3s;

    @media (max-width: $md) {
      width: 330px;
    }

    @media (max-width: $sm) {
      width: 280px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-left: 0;
    }

    @include placeholderColor(#C4C4C4);

    &:last-child {
      @media (max-width: $md) {
        margin-top: 15px;
      }
    }
  }

  &__button-wrap {
    position: relative;
    margin: 14px 0 0 auto;
    padding-left: 95px;

    &:before {
      content: '';
      display: block;
      width: 76px;
      height: 29px;
      position: absolute;
      left: 0;
      top: 0;
      background: url('../img/form-arrow.svg');
    }
  }

  &__button {
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 0 21px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: white;
    }
  }


  .container {
    position: relative;
  }

  &__circle {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
    border-radius: 29px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      background: #42DED3;
      width: 46px;
      height: 46px;
      left: 33px;
      top: -31px;
    }

    &:nth-child(2) {
      background: #668FCD;
      width: 34px;
      height: 34px;
      right: 618px;
      bottom: -9px;

      @media (max-width: $md) {
        right: 553px;
      }

      @media (max-width: $sm) {
        right: 500px;
        bottom: -13px;
      }
    }

    &:nth-child(3) {
      background: #F7C154;
      width: 53px;
      height: 53px;
      right: 428px;
      bottom: 29px;

      @media (max-width: $md) {
        right: 363px;
      }

      @media (max-width: $sm) {
        right: 290px;
        bottom: 19px;
      }
    }

    &:nth-child(4) {
      background: #FD8A97;
      width: 41px;
      height: 41px;
      right: 265px;
      bottom: -20px;

      @media (max-width: $md) {
        right: 200px;
      }

      @media (max-width: $sm) {
        right: 170px;
      }
    }
  }
}