@import "layout/var";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-top: 7px;

  @media (max-width: $xs) {
    flex-direction: column;
    justify-content: flex-start;
    background: $grey;
    padding: 15px 15px 0;
    margin-left: -15px;
    width: calc(100% + 30px);
    height: 100px;
    overflow: hidden;
    transition: 0.3s;

    &--opened_menu {
      height: 280px;
    }
  }

  &__link {
    padding: 15px 3px;
    font-size: 14px;
    line-height: 19px;
    color: black;
    position: relative;
    margin: 0 32px;

    @media (max-width: $sm) {
      margin: 0 20px;
    }

    @media (max-width: $xs) {
      order: 1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 4px;
      background: $green;
      bottom: 0;
      left: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      transition: 0.3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  .app-icon {
    margin: 0 38px;

    @media (max-width: $sm) {
      margin: 0 20px;
    }

    @media (max-width: $xs) {
      order: 0;
      align-self: flex-start;
      margin: 0;
      flex-shrink: 0;
    }
  }
}